.color0{
    background-color: red;
}

.color1{
    background-color: green;
}

.color2{
    background-color: blue;
}

.color3{
    background-color: grey;
}

.color4{
    background-color: rgb(255, 115, 139);
}

.color5{
    background-color: rgb(173, 46, 0);
}

.visor__frasco{
    min-height: 20px;
    width: 70px;
    height: fit-content;
    border: 6px solid black;
    border-top: 0;
    position: relative;
    top: 140px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /*flex-direction: column-reverse;*/
    align-items: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    transition: 100ms;
    background-color: rgba(0, 174, 255, 0.151);
    padding-bottom: 7px;
    padding-top: 7px;
    transition: 200ms;

}

.visor__frasco:hover{
    box-shadow: 0px 3px 2px 1px black;
    background-color: rgba(0, 174, 255, 0.075);
    transition: 200ms;
}

.pixel-ball {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Makes it a circle */
    display: inline-block;
    position: relative;
}
  