
.container__header{
    grid-area: header;
}

.container__visor{
    grid-area: visor;
}

.container__aside--r{
    grid-area: asider;
}

.container__aside--l{
    grid-area: asidel;
}

.container__footer{
    grid-area: footer;
}
