
.container__header{
    grid-area: header;
}

.container__visor{
    grid-area: visor;
}

.container__aside--r{
    grid-area: asider;
}

.container__aside--l{
    grid-area: asidel;
}

.container__footer{
    grid-area: footer;
}

@media screen and (min-width: 600px){
    .container{
        transform: scale(0.4);
    }
}

@media screen and (min-width: 1024px){
    body{
        transform: scale(0.5);
    }
    .container{
        transform: scale(0.5);
    }
}

@media screen and (min-width: 1200px){
    .container{
        transform: scale(0.9);
    }
    body{
        transform: scale(1);
    }
}
