*{
    box-sizing: border-box;
}

.container{
    margin: auto;
    background-color: antiquewhite;
    display: grid;
    background-image: url("../assets/jpg/simon-sanchez-madera-tilex1.jpg");
    background-repeat: repeat;
    background-size: 30%;
}

.container__visor{
    background-color: rgb(175, 226, 255);
}