.visor_bg{
    background-image: url("../assets/png/—Pngtree—mountain\ background\ pixel\ scene_6021586.png");
    background-size: cover;
    background-repeat: repeat-y;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fondoGris1{
    animation: fondoGris1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.fondoGris2{
    animation: fondoGris2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.fondoGris3{
    animation: fondoGris3;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes fondoGris1 {
    from{
        filter: grayscale(0%);
    }to{
        filter: grayscale(100%);
    }
}

@keyframes fondoGris2 {
    from{
        filter: grayscale(100%);
    }to{
        filter: grayscale(50%);
    }
}

@keyframes fondoGris3 {
    from{
        filter: grayscale(50%);
    }to{
        filter: grayscale(0%);
    }
}

.container__visor{
    position: relative;
    background-size: cover;
    background-repeat: repeat-y;
    z-index: 0;
    background-color: rgb(175, 226, 255);
}


.cieloGris{
    animation: cieloGris;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.cieloNaranja{
    animation: cieloNaranja;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.cieloAzul{
    animation: cieloAzul;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.cieloInicial{
    animation: cieloInicial;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


@keyframes cieloInicial {
    from{
        background-color: rgb(175, 226, 255);
    }to{
        background-color: black;
    }
}

@keyframes cieloGris {
    from{
        background-color: black;
    }to{
        background-color: grey;
    }
}

@keyframes cieloNaranja {
    from{
        background-color: grey;
    }to{
        background-color: rgb(115, 131, 141);
    }
}

@keyframes cieloAzul {
    from{
        background-color: rgb(115, 131, 141);
    }to{
        background-color: rgb(175, 226, 255);
    }
}


.container__nubes--1{
    position: absolute;
    z-index: 0;
    top: 50px;
    left: 0;
    height: 150px;
    width: 150px;
}

.animacion__infinito{
    animation: nubes 60s linear infinite;
    animation-delay: -15s;
}

@keyframes nubes {
    from{
        transform: translateX(+900px);
    }to{
        transform: translateX(-200px);
    }
}




/*
@keyframes cieloAnim {
    0%{
        background-color: rgb(175, 226, 255);
    }
    40%{
        background-color: grey;
    }
    80% {
        background-color: grey;
    }
    100%{
        background-color: rgb(175, 226, 255);
    }
}
*/

@keyframes montanaAnim {
    0%{
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}


.visor__main{
    justify-content: center;
    /*display: flex;*/
    width: 100%;
    height: 100%;
    position: relative;
}

.main__boton{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 400px;
}

.a__boton{
    width: 120px;
    height: 100px;
}

.letraTituloGrande{
    font-family: pixelThaleah;
    font-size: 5em;
    position: absolute;
    color: yellow;
    text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000, 6px 6px 0 #000;
    letter-spacing: 20px;
    text-align: center;
    display: block;
    width: 100%;
    top: 20px;
}

.letraTituloPeq{
    font-family: pixelThaleah;
    font-size: 4em;
    position: absolute;
    color: yellow;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    letter-spacing: 10px;
    text-align: center;
    display: block;
    width: 100%;
    top: 200px;
}