.container__visor{
    position: relative;
    background-image: url("../assets/png/—Pngtree—mountain\ background\ pixel\ scene_6021586.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-color: black;
    z-index: 0;
    /*opacity: 0;
    animation: montanaAnim 1s;*/
}

.container__nubes--1{
    position: absolute;
    z-index: 0;
    top: 50px;
    left: 0;
    height: 150px;
    width: 150px;
}

.animacion__infinito{
    animation: nubes 60s linear infinite;
    animation-delay: -15s;
}

@keyframes nubes {
    from{
        transform: translateX(+900px);
    }to{
        transform: translateX(-200px);
    }
}



@keyframes cieloAnim {
    0%{
        background-color: rgb(175, 226, 255);
    }
    40%{
        background-color: grey;
    }
    80% {
        background-color: grey;
    }
    100%{
        background-color: rgb(175, 226, 255);
    }
}


@keyframes montanaAnim {
    0%{
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

.container__visor{
    background-color: rgb(175, 226, 255);
    /*background-color: bisque;*/
    position: relative;
    z-index: 0;
    animation: cieloAnim;
    animation-duration: 16s;
}


.visor__main{
    justify-content: center;
    /*display: flex;*/
    width: 100%;
    height: 100%;
    position: relative;
}

.main__boton{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 400px;
}

.a__boton{
    width: 120px;
    height: 100px;
}

.letraTituloGrande{
    font-family: pixelThaleah;
    font-size: 5em;
    position: absolute;
    color: yellow;
    text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000, 6px 6px 0 #000;
    letter-spacing: 20px;
    text-align: center;
    display: block;
    width: 100%;
    top: 20px;
}

.letraTituloPeq{
    font-family: pixelThaleah;
    font-size: 4em;
    position: absolute;
    color: yellow;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    letter-spacing: 10px;
    text-align: center;
    display: block;
    width: 100%;
    top: 200px;
}